/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
    font-family: helvetica;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
.center{
  text-align: center;
}
.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tile-wrapper {
  width: 500px;
  margin: 5% auto;
  .tile-row{
    div{
      border: 1px solid;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: 100px;
      margin-right: -5px;
    }    
  }
}










